<h1>Introduction to Series and Data Frame</h1>

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [27]:
#Calling a Series constructor of Pandas to Create a Series. Series is equivalent to Array in modern programming language
# arange function in numpy create a n numbers starting from 0
# each of the numbers given a label index
series_obj=Series(np.arange(4),index=['row 0','row1','row2','row3'])

In [6]:
series_obj

row 0    0
row1     1
row2     2
row3     3
dtype: int32

In [28]:
#label Indexing
series_obj['row 0']

0

In [29]:
# Number Indexing
series_obj[[0,3]]

row 0    0
row3     3
dtype: int32

In [10]:
#Setting seed value will helpful to create the same random number 
np.random.seed(25)

In [30]:
# Creating 16 random numbers reshpae function will represent the 16 numbers into rows and columns and each row and column as an index
DF_obj=DataFrame(np.random.rand(16).reshape((4,4)),index=['row1','row2','row3','row4'],columns=['column1','columnn2','column3','column4'])

In [14]:
DF_obj

       column1  columnn2   column3   column4
row1  0.669612  0.456069  0.289804  0.525819
row2  0.559242  0.745284  0.828346  0.823694
row3  0.077140  0.644862  0.309258  0.524254
row4  0.958092  0.883201  0.295432  0.512376

In [17]:
# Special index using ix
DF_obj.ix[['row1','row2'],['column1']]

       column1
row1  0.669612
row2  0.559242

In [31]:
# Data Slicing
# Print the row1, row3 and all the elements within that range.
series_obj['row1':'row3']

row1    1
row2    2
row3    3
dtype: int32

In [32]:
#Comparison Operator
series_obj[series_obj>2]

row3    3
dtype: int32

In [24]:
DF_obj<.2

      column1  columnn2  column3  column4
row1    False     False    False    False
row2    False     False    False    False
row3     True     False    False    False
row4    False     False    False    False

In [25]:
# S
series_obj['row1','row2']=7

In [26]:
series_obj

row 0    0
row1     7
row2     7
row3     3
dtype: int32